@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Marmelad", sans-serif;
}

#main-head .navbar {
  background: rgb(0, 0, 0);
}
#main-head .navbar-brand {
  font-size: 30px;
  color: rgb(255, 200, 0);
  font-weight: 600;
}
#main-head .nav-link {
  font-size: 20px;
  color: white;
  padding-left: 50px;
  padding-right: 0px;
}
#main-head .nav-link:hover {
  color: rgb(255, 200, 0);
}

#about-me {
  position: relative;
}
#about-me #aboutMe {
  position: absolute;
  width: 1140px;
  top: 90px;
}
#about-me #aboutMe .profile-img {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
}
#about-me #aboutMe .h1 {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  margin-bottom: 20px;
}
#about-me #aboutMe .h1 a {
  text-decoration: none;
  color: rgb(255, 200, 0);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#about-me #aboutMe .h4 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  font-weight: 600;
}
#about-me #aboutMe .h4 span {
  color: rgb(255, 200, 0);
}
#about-me #aboutMe .para {
  margin: 20px 0px;
  font-size: 22px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#about-me #aboutMe .more {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#about-me #aboutMe .btn-more {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  width: 180px;
}
#about-me #aboutMe .btn-more a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}
#about-me #aboutMe .btn-more:hover {
  background-color: rgb(255, 200, 0);
  border: 1px solid rgb(255, 200, 0);
}
#about-me #aboutMe .btn-more:hover a {
  color: rgb(0, 0, 0);
}

#education .carousel-inner {
  position: relative;
}
#education .carousel-inner .edu-heading {
  position: absolute;
  top: 50px;
  left: 117px;
  z-index: 3;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 200, 0);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 5px 30px;
}
#education .carousel-inner .carousel-item img {
  filter: blur(3px);
}
#education .carousel-inner .carousel-item .carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 200, 0);
  max-width: auto;
  height: 160px;
  bottom: 40%;
}
#education .carousel-inner .carousel-item .carousel-caption h4 {
  color: white;
}

#projects {
  position: relative;
}
#projects .proj-heading {
  position: absolute;
  top: 50px;
  right: 117px;
  z-index: 3;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 200, 0);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px 30px;
}
#projects #project-cards {
  position: absolute;
  top: 150px;
  right: 117px;
  padding: 0px;
  width: 1115px;
}
#projects #project-cards .card {
  margin-bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 200, 0);
}
#projects #project-cards .card .card-header {
  color: rgb(255, 200, 0);
  font-size: 28px;
}
#projects #project-cards .card .card-body {
  background-color: rgba(255, 255, 255, 0.39);
  color: black;
}
#projects #project-cards .card .card-body h5 {
  color: rgb(0, 17, 65);
  font-weight: 600;
}
#projects #project-cards .card .card-body ul {
  list-style: none;
}
#projects #project-cards .card .card-body ul li::before {
  content: "•";
  color: rgb(255, 200, 0);
  font-weight: 900;
  font-size: 20px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
#projects #project-cards .card .card-body li {
  font-weight: 500;
  font-size: 17px;
}
#projects #project-cards .card .card-body a {
  font-size: 20px;
  color: rgb(0, 0, 0);
  width: 200px;
  height: auto;
  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
}
#projects #project-cards .card .card-body a:hover {
  border: 1px solid rgb(255, 200, 0);
  background-color: rgb(255, 200, 0);
}
#projects #project-cards .card .card-footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
}
#projects #project-cards .card .card-footer span {
  color: rgb(255, 200, 0);
  font-style: normal;
}

#skills {
  position: relative;
}
#skills .skill-heading {
  position: absolute;
  top: 50px;
  left: 117px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 5px 30px;
  width: 12%;
}
#skills .html-logo {
  width: 150px;
  position: absolute;
  top: 200px;
  left: 200px;
}
#skills .css-logo {
  width: 110px;
  position: absolute;
  top: 200px;
  left: 460px;
}
#skills .js-logo {
  width: 130px;
  position: absolute;
  top: 210px;
  left: 700px;
}
#skills .java-logo {
  width: 140px;
  position: absolute;
  top: 400px;
  left: 300px;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5)) saturate(2) contrast(2);
}
#skills .sql-logo {
  width: 180px;
  position: absolute;
  top: 400px;
  left: 550px;
}
#skills .py-logo {
  width: 150px;
  position: absolute;
  top: 200px;
  left: 950px;
}
#skills .mdb-logo {
  width: 300px;
  position: absolute;
  top: 570px;
  left: 520px;
}
#skills .cd-logo {
  width: 240px;
  position: absolute;
  top: 400px;
  left: 890px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

#contact #contact-box {
  background-color: rgb(255, 200, 0);
  width: 100%;
  max-height: auto;
}
#contact #contact-me .brd {
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 100%;
  margin-bottom: 1rem;
}
#contact #contact-me .brd span {
  font-size: 20px;
}
#contact #contact-me p {
  margin-top: 7px;
  margin-left: 15px;
}
#contact #social-link a {
  font-size: 30px;
  margin-right: 20px;
  color: rgb(0, 0, 0);
}
#contact .copyright {
  text-align: center;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 20px 0px;
}
#contact .copyright span {
  color: rgb(255, 200, 0);
  text-decoration: underline;
}

.page-up {
  position: fixed;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  z-index: 4;
  bottom: 80px;
  right: 50px;
}
.page-up a {
  font-size: 40px;
  color: #000;
}/*# sourceMappingURL=style.css.map */